html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Registration Document
    body
        h1 Add new User
        form(action="/submit", method="post")
            div
                label(for="name") Name:
                input(type="text" name="name")
            div
                label(for="surname") Surname:
                input(type="text" name="surname")
            div
                label(for="email") email:
                input(type="text" name="email")
            div
                label(for="username") Username:
                input(type="text" name="username")
            div
                label(for="password") Password:
                input(type="text" name="password")
            div 
                input(type="submit", name='Add') 
        if data.length
            h2 USERS
            ul
             each user in data
              li #{user.name + user.surname}
               form(action=`/delete/${user._id}`, method="get")
                input(type="submit", value="✗") 
               form(action=`/form/${user._id}`, method="get")
                input(type="submit", value="✓") 
              if (idSelect == user._id)
               h2 MODIFY:  
                form(action="/update", method="post")
                 div
                  label(for="name") Name:
                  input(type="text" name="name" value = user.name)
                 div
                  label(for="surname") Surname:
                  input(type="text" name="surname" value = user.surname)
                 div
                  label(for="email") email:
                  input(type="text" name="email" value = user.email)
                 div
                  label(for="password") Password:
                  input(type="text" name="password" value = user.password)
                 div 
                  input(type="submit", name='Add') 
               
            
            h2 DELETE ALL
             form(action=`/delete`, method="get")
              input(type="submit", value="✗✗✗") 





              